PORT=3000
MONGO_URI=mongodb://localhost:27017/authify
JWT_PRIVATE_KEY=<RSA PEM>
JWT_PUBLIC_KEY=<RSA PEM>
JWT_KID=key-2026-01
RP_NAME=Authify
RP_ID=authify.in.net
CHALLENGE_TTL_SECONDS=300
DEFAULT_JWT_EXPIRY=3600
ADMIN_SECRET=<strong-secret>
NODE_ENV=development
